.thumbnail { 
    width: 100%; 
    object-fit: cover;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.modal-content{
    width: 100%;
    display: flex;
}

.modal-content-img{
    width: 40%;
    margin-inline: 2.5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.modal-content span {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}
.modal-content span h3{
    color: var(--white);
}
.modal-content span p{
    color: var(--white);
    text-indent: 30px;
}

.modal-div-img{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: rgb(255, 255, 255, 0.15);
    border-radius: 10px;
    border: 2px solid var(--white);
}
#modalImg {

    /*
    width: 60%;
    max-height: 60%;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10%;
    */
    padding: 10px 0;
    max-height: 250px;
    max-width: 95%;
    transition: opacity 0.3s ease-in-out;
    
}

.modal-content-other-imgs{
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.3);
    margin-top: 10px;
    border: 2px solid var(--white);
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
}
.modal-content-other-imgs img{
    width: 25%;
    transition: opacity 0.3s ease-in-out;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.products-apresentation-img{
    width: 100%;
    border-radius: 10px;
}
.percussion h4, .strings h4{
    margin-left: 10%;
    padding-top: 80px;
}
.percussion-atabaconga-conga, .percussion-djembe-ashico, .percussion-pandeiro, .percussion-pratos-acessorios, .strings-violao, .strings-cavaquinho, .strings-dupla, .strings-guitarra, .strings-banjo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin: 30px 0;
}
.percussion-atabaconga-conga img, .percussion-djembe-ashico img, .percussion-pandeiro img, .percussion-pratos-acessorios img, .strings-violao img, .strings-cavaquinho img, .strings-dupla img, .strings-guitarra img, .strings-banjo img{
    background-color: var(--orange);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.percussion-atabaconga-conga img:hover, .percussion-djembe-ashico img:hover, .percussion-pandeiro img:hover, .percussion-pratos-acessorios img:hover, .strings-violao img:hover, .strings-cavaquinho img:hover, .strings-dupla img:hover, .strings-guitarra img:hover, .strings-banjo img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 2px black;
}

