.thumbnail { 
    width: 100%; 
    object-fit: cover;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.products-apresentation-img{
    width: 100%;
    border-radius: 10px;
}
.percussion h4, .strings h4{
    margin-left: 10%;
    padding-top: 80px;
}
.percussion-atabaconga-conga, .percussion-djembe-ashico, .percussion-pandeiro, .percussion-pratos-acessorios, .strings-violao, .strings-cavaquinho, .strings-dupla, .strings-guitarra, .strings-banjo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin: 30px 0;
}
.percussion-atabaconga-conga img, .percussion-djembe-ashico img, .percussion-pandeiro img, .percussion-pratos-acessorios img, .strings-violao img, .strings-cavaquinho img, .strings-dupla img, .strings-guitarra img, .strings-banjo img{
    background-color: var(--orange);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.percussion-atabaconga-conga img:hover, .percussion-djembe-ashico img:hover, .percussion-pandeiro img:hover, .percussion-pratos-acessorios img:hover, .strings-violao img:hover, .strings-cavaquinho img:hover, .strings-dupla img:hover, .strings-guitarra img:hover, .strings-banjo img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 2px black;
}

