@import "../principal/variables.css";

body {
  font-family: var(--font-text);
  background-color: var(--white);
  position: absolute;
  z-index: -2;
  overflow-x: hidden;
}

.img-clave {
  width: 10%;
  height: auto;
  max-width: 100px;
  min-width: 60px;
  opacity: 0.2;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}

main h2 {
  font-size: 4rem;
  margin-bottom: 30px;
  font-family: var(--font-style);
}

main h4 {
  font-size: 1.2rem;
}
main h3,
main h2 {
  text-align: center;
}
