:root{
    --background-header: #c3c3c3;
    --yellow: #ffca2c;
    --brown: #563e3c;
    --brown2: #64201b;
    --white:  #F2F2F2;
    --gray: #dddddd;  
    --green: #5c9f43;
    --black: #000000;
    --orange: #fbab18;
    --orange2: #e7b11e;

    --font-style: "Satisfy", cursive;
    --font-text: "Montserrat", sans-serif;;
    --font-nav: 1rem;

    --rotate-footer-background: -70deg;
}
