@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-header: #a89c9c;
    --yellow: #e5c460;
    --brown: #563e3c;
    --white:  #F2F2F2;
    --gray: #cbcaca;  
    --green: #a0cb60;
    --black: #000000;
    --orange: #ecb54e;

    --font-style: "Satisfy", cursive;
    --font-text: "Montserrat", sans-serif;;
    --font-nav: 1rem;

    --rotate-footer-background: -70deg;
}

body{
    font-family: var(--font-text);
    background-color: var(--white);
}

header{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
    box-shadow: 0 1px 3px;
    overflow: hidden;
}

.header-triangle1{
    position: absolute;
    width: auto;
    left: 0;
    bottom: 0;
    border-right: 100vw solid transparent;
    border-bottom: 150px solid var(--white);
    z-index: -1;
}
.header-triangle2{
    position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
    border-left: 100px solid transparent;
    border-bottom: 300px solid var(--orange);
    z-index: -2;
}

.header-triangle3{
    position: absolute;
    width: 60px;
    right: 0;
    bottom: 0;
    border-left: 200px solid transparent;
    border-bottom: 600px solid var(--green);
    z-index: -4;
}
.header-triangle4{
    position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
    border-left: 300px solid transparent;
    border-bottom: 900px solid var(--brown);
    z-index: -5;
    opacity: 0.8;
}
.header-imgs{
    width: 100%;
    height: auto;
}
#img1{
    position: absolute;
    width: 330px;
    height: auto;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out; 
    z-index: -3;
}
#img2{
    position: absolute;
    width: 300px;
    height: auto;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out; 
    margin-right: 100px;
    margin-bottom: 150px;
    z-index: -6;
}
.header-triangle5{
    position: absolute;
    width: 60px;
    right: 0;
    bottom: 0;
    border-left: 400px solid transparent;
    border-bottom: 1200px solid var(--orange);
    z-index: -7;
    opacity: 0.8;
}
.header-square{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: var(--yellow);
    z-index: -8;
    opacity: 0.7;
}
.header-content{
    width: auto;
    top: 30%;
    display: flex;
    align-items: center;
    margin: 125px 0 0 5%;
    flex-direction: column;
    font-family: var(--font-style);
    font-weight: 600;
}

.header-title{
    font-size: 4rem;
    margin-bottom: 20px;
}
.header-subtitle{
    font-size: 2rem;
}

#menu{
    display: flex;
    justify-content: center;
}
#menu-toggle{
    visibility: hidden;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 0 2px 3px;
    z-index: 2000;
}
.menu-toggle{
    position: absolute;
    margin-top: 375px;
    margin-left: 5%;
    transition: 1s ease;

}
.menu-toggle-fixed{
    position: fixed;
    margin: 15px 0 0 15px;
}
.menu{
    margin-top: -50px;
}
.menu-fixed{
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#nav{
    display: flex;
    gap: 7.5%;
    background-color: var(--white);
    box-shadow: 0 2px 5px;
    transition: all 0.5s ease; 
}
.nav{
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 75%;
    border-radius: 50px;
}
.nav-fixed{
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    border-radius: 0;
}
#nav a{
    font-size: var(--font-nav);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

main h2{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
main h3{
    font-size: 1.3rem;
    margin: 15px 0;
}
main h4{
    font-size: 1.2rem;
}
main h3, main h2{
    text-align: center;   
}

section:not(#menu){
    padding: 0 10%;
}

section:not(.principal section, #menu){
    margin: 50px 0;
}

.apresentation-text{
    text-align: center;
    margin: 0 20%;
}

.work-content{
    display: flex;
}


.work-text p{
    margin-bottom: 16px;
}
.work-text{
    width: 50%;
    margin: 0 5%;
}
.work-text strong{
    font-weight: 600;
}
.work-container-img{
    display: flex;
    width: 50%;
    align-items: center;
}
.work-imgs{
    width: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.div1-work{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    z-index: 1;
}

.div2-work{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    margin-left: 100px;
}

#work-img{
    width: 150px;
    height: 150px; 
    object-fit: cover;
    border-radius: 150px;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    background-color: #F2F2F2;
    transition: 0.5s;
}
#work-img:hover{
    z-index: 2;
    width: 165px;
    height: 165px;
}
/*
#work-img:nth-child(1){
    margin-top: 50px;
}
#work-img:nth-child(2){
    margin-top: 30px;
}
*/
.bills-content{
    gap: 8%;
    margin: 0 10%;
    display: flex;
    align-items: flex-start;
}
.bills-content strong{
    font-weight: 600;
}

.bills img{
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    min-width: 150px;
    object-fit: cover;
    transition: 1s;
}
.bills img:hover{
    opacity: 0.6;
}

.bills-content div:not(.bills-content div div){
    width: 28%;
}

.bills-budget{
    display: flex;
    flex-direction: column;
    justify-content: center;
}  
.bills-deadlines{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.bills-send{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

footer{
    width: 100%;
    height: 150px;
    border-top-left-radius: 50px;
    background-color: var(--brown);
    background: linear-gradient(to left, rgba(86, 62, 60, 1), rgba(86, 62, 60, 0.8));
    overflow: hidden;
    position: relative;
}

.footer-logo{
    position: absolute;
    width: 80px;
    height: auto;
    opacity: 0.8;
    margin: 10px 0 0 10px;
    z-index: 1;
}



#f-r-yellow{
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 135px;
    width: 250px;
    height: 50px;
    background-color: var(--yellow);
    rotate: var(--rotate-footer-background);
}
#f-r-yellow2{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 25px;
    background-color: var(--yellow);
    rotate: var(--rotate-footer-background);
}
#f-r-green1{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 275px;
    width: 100px;
    height: 50px;
    background-color: var(--green);
    rotate: var(--rotate-footer-background);
}
#f-r-green2{
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 40px;
    width: 250px;
    height: 25px;
    background-color: var(--green);
    rotate: var(--rotate-footer-background);
}
#f-r-orange1{
    position: absolute;
    top: 0%;
    right: 0;
    margin-right: -80px;
    width: 250px;
    height: 100px;
    background-color: var(--orange);
    rotate: var(--rotate-footer-background);
}
#f-r-orange2{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 170px;
    width: 150px;
    height: 50px;
    background-color: var(--orange);
    rotate: var(--rotate-footer-background);
}

@media (max-width: 1120px){
    .div1-work, .div2-work{
        flex-direction: column;
    }
    .div2-work{
        margin: 100px 0 0 0;
    }
    .work-imgs{
        flex-direction: row;
    }
}

@media (max-width: 800px){
    #menu{
        display: flex;
        justify-content: center;
    }
    #nav{
        width: 100%;
        border-radius: 0;
    }
    .header-content{
        width: 100%;
        margin: 30px 0 0 0;
        justify-content: center;
    }
    .header-title{
        font-size: 3rem;
        margin: 0;
    }
    .header-subtitle{
        font-size: 1.5rem;
        margin: 0;
    }

    .header-triangle1{
        position: absolute;
        width: auto;
        left: 0;
        bottom: 0;
        border-right: 100vw solid transparent;
        border-bottom: 150px solid var(--white);
        z-index: -1;
    }
    .header-triangle2{
        border-left: 80px solid transparent;
        border-bottom: 200px solid var(--orange);
    }
    
    .header-triangle3{
        width: 0;
        border-left: 200px solid transparent;
        border-bottom: 500px solid var(--green);
    }
    .header-triangle4{
        border-left: 210px solid transparent;
        border-bottom: 530px solid var(--brown);
    }
    .header-triangle5{
        width: 0;
        border-left: 400px solid transparent;
        border-bottom: 900px solid var(--orange);
    }

    #img1{
        width: 220px;
        margin: 0 -30px 25px 0;
    }
    #img2{
        width: 200px;
        margin: 0 60px 135px 0;
    }
}

@media (max-width: 750px){

    .work-content{
        flex-direction: column;
    }
    .work-container-img{
        width: 100%;
    }
    .work-imgs{
        flex-direction: column;
    }
    .div1-work, .div2-work{
        flex-direction: row;
    } 
    .div2-work{
        margin: 0 0 0 100px;
    } 
    .work-text{
        width: 90%;
    }
    /*
    .work-text, .work-imgs{
        width: 90%;
    }
    .work-imgs{
        height: 260px;
        display: flex;
        align-items: center;
        margin: 0 5%;
    }
    .div1-work, .div2-work{
        flex-direction: row;
    }
    */

    .bills-content{
        flex-direction: column;
        margin: 0;
        gap: 30px;
    }
    
    .bills-content div:not(.bills-content div div){
        width: 100%;
    }
    .bills img{
        width: 30%;
        height: 30%;
    }
    
    .bills-budget, .bills-send{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        gap: 20px;
    }  
    .bills-deadlines{
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        gap: 20px;
    }
    .bills-text{
        width: 50%;
    }
}

@media (max-width: 600px){
    #work-img{
        width: 120px;
        height: 120px;
    }
    .div1-work{
        gap: 15px;
    }
    .div2-work{
        /*margin-top: 60px;*/
        gap: 15px;
        margin-left: 70px;
    }
    #work-img:hover{
        z-index: 2;
        width: 135px;
        height: 135px;
    }
    
}

@media (max-width: 500px){
    .bills-budget, .bills-send,.bills-deadlines{
        flex-direction: column;
    }  
    .bills img{
        width: 175px;
        height: 175px;
    }
    .bills-text{
        width: 90%;
        text-align: center;
    }
    section:not(#menu){
        padding: 0 5%;
    }
}

@media (max-width: 450px){

    .apresentation-text{
        margin: 0 5%;
    }
    .div1-work, .div2-work{
        flex-direction: column;
    }
    .div2-work{
        margin: 70px 0 0 0;
        gap: 15px;
    }
    .work-imgs{
        flex-direction: row;
    }
    #menu-toggle{
        visibility: visible;
    }
    #menu{
        position: fixed;
        top: 0;
        justify-content: flex-start;
    }
    #nav{
        position: fixed;
        top: 0;
        width: 70%;
        height: 100%;
        align-items: flex-start;
        flex-direction: column;
        justify-content: start;
        gap: 25px;
        padding: 100px 0 0 5%;
        transition: left 1s ease;
    }
    .nav{
        left: -105%;
    }
    .nav-fixed{
        left: -105%;

    }
    .nav-open{
        left: 0;
    }
    
}








